<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊頁面</title>
</head>
<h1>Register</h1>
<form action="">
    <label for="username">username</label>
    <input type="text" name="" id=""><br>
    <label for="password">password</label>
    <input type="text"><br>
    <label for="confirm_password">confirm-password</label>
    <input type="text"><br>
    <button>註冊</button>

</form>

<body>

</body>

</html>