{% extends 'base.html' %}

{% block title %}建立表單{% endblock %}

{% block style%}
<style>
    .create-todo-button {
        background-color: rgb(255, 220, 220);
        color: var(--browncolor--);
        padding: 6px 14px;
        border: 0;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
        border-radius: 4px;
        margin-left: 6px;
        text-decoration: none;
    }

    form {
        padding: 14px;
        background-color: rgba(255, 255, 255, 0.4);
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

    }
</style>
{% endblock%}


{% block content %}
<h1>Create Todo</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="create-todo-button" type="submit">建立</button>
</form>


<br>
<a href="{% url 'todolist'%}" style="text-align: left;" class="create-todo-button">回首頁</a>
{% endblock %}