{% extends 'base.html' %}

{% block title %}代辦事項{% endblock %}

{% block style%}
<style>
    .todo-list {
        background-color: white;
        margin: 24px auto;
        width: 500px;
        height: 200px;
        border-radius: 0 0 4px 4px;
    }

    .date {
        background-color: rgb(120, 65, 43);
        color: white;
        padding: 4px 0;
        letter-spacing: 2px;
    }

    .text {
        background-color: rgb(252, 243, 232);
        height: 80px;
        border-radius: 6px;
        padding: 6px;
        border: 6px white solid;
        color: rgb(90, 90, 89);
        letter-spacing: 2px;
        /* margin-bottom: 12px; */
    }



    .title a {
        color: rgb(189, 125, 125);
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .important {
        color: red;
    }
</style>
{% endblock%}


{% block content %}
<h1>Todolist</h1>
{% for todo in todos%}
<div class="todo-list">
    <p class="date">{{todo.created}}</p>
    <p class="title">
        <a href="{% url 'view-todo' todo.id %}">
            {{todo.title}}
        </a>
        {% if todo.important %}
        <span class="important">(重要事項)</span>
        {% endif %}

    </p>
    <p class="text">{{todo.text}}</p>

</div>

{% endfor%}

<br>
<!-- {{todos}} -->
{% endblock %}