{% extends 'base.html' %}

{% block title %}代辦事項{% endblock %}

{% block style%}
<style>
    .todo-list {
        background-color: azure;
        margin: 12px auto;
        width: 500px;
        height: 200px;
    }

    .date {
        background-color: orangered;
        color: white;
    }

    .text {
        background-color: aqua;
        height: 80px;
        border-radius: 6px;
        padding: 6px;
        margin: 12px;
    }

    .title {
        color: darkblue;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .important {
        color: red;
    }
</style>
{% endblock%}


{% block content %}
<h1>Todolist</h1>
{{todo}}
<div class="todo-list">
    <p class="date">{{todo.created}}</p>
    <p class="title">
        <a href="{% url 'view-todo' todo.id %}">
            {{todo.title}}
        </a>
        {% if todo.important %}
        <span class="important">(重要事項)</span>
        {% endif %}

    </p>
    <p class="text">{{todo.text}}</p>

</div>


<br>
<a href="todo">回首頁</a>
{% endblock %}