{% extends 'base.html' %}

{% block title %}代辦事項{% endblock %}

{% block style%}
<style>
    .button-style {
        width: 80px;
    }
</style>
{% endblock%}


{% block content %}
<h1>{{todo.title}}</h1>
建立時間: {{todo.created}}<br>
{% if todo.date_completed %}
完成時間: {{todo.date_completed}}
{%endif%}
<form action="" method="post">
    {{form.as_p}}
    {% csrf_token %}
    <input class='button-style' type="submit" value="更新" name="update">
    <input class='button-style' type="submit" value="刪除" name="delete">
</form>

<br>
<a href="{% url 'todolist'%}" style="text-align: left;">回首頁</a>
{% endblock %}